<!-- static es un tag que django utiliza para cargar archivos estaticos -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post adk</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <nav style="display: flex; justify-content: space-between;">
        <p style="color: red;">Usuario: {{ user.username }}</p>
        <ul style="display: flex; gap: 20px; justify-content: center;">
            <li><a href="{% url 'post_list' %}">Inicio</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'post_create' %}">Nuevo Post</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'logout' %}">
                    <!-- es un token que django genera para prevenir ataques de inyeccion -->
                    {% csrf_token %}
                    <button type="submit">Cerrar Sesion</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
            {% endif %}
        </ul>
    </nav>
    <!-- es un bloque que se utiliza para cargar contenido dinamico -->
    {% block content %}
    {% endblock %}
</body>
</html>