{% extends 'base.html' %}

{% block content %}
<a href="{% url 'post_list' %}">Volver al Home</a>
<h1>Detalles de Post</h1>
<p>{{ post.title }}</p>
<p>{{ post.body }}</p>
<p>{{ post.created_at }}</p>
<p>El autor de este post es: <strong style="color: red;">{{ post.author }}</strong></p>
{% if user.is_authenticated and post.author.pk == request.user.pk %}
<a class="icon-link" href="{% url 'post_update' post.pk %}">Editar Post</a>
<a class="icon-link" href="{% url 'post_delete' post.pk %}">Eliminar Post</a>
{% endif %}
{% endblock %}