<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    <ul>
        {% for post in post_list %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>{{ post.created_at }}</p>
            <!-- tambien funciona post.pk -->
            <a href="{% url 'post_detail' post.id %}">Ver mas</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>